header {
  padding: 1%;
  background-image: url("../assets/home-header.jpg");
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
  position: relative;
  nav {
    ul {
      display: flex;
      li:not(:nth-of-type(1)) {
        padding: 0 30px;
      }
      li:nth-of-type(1) {
        padding-right: 30px;
      }
      a {
        color: white;
      }
    }
  }
  img {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -30%;
  }
  h1 {
    width: 40%;
    .resto {
      color: $main-dark;
      background-color: white;
    }
  }
}