header {
  padding-top: 3%;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  font-family: $font;
  .wrapper {
    flex-direction: column;
  }
  label {
    display: none;
    font-size: 4rem;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 50;
    text-shadow: 1px 1px 2px $black;
  }
  ul {
    font-weight: bold;
    display: flex;
    text-shadow: 2px 2px 2px $black;
    li {
      margin-right: 30px;
      position: relative;
      &::after {
        content: "";
        display: block;
        height: 3px;
        width: 0;
        background-color: $pop-color;
        position: absolute;
        bottom: 0;
        left: 5%;
        transition: width 0.3s;
      }
      &:hover::after,
      &:focus::after {
        width: 90%;
      }  
    }
    a {
      color: white;
    }
  }
  img {
    width: 50%;
    position: absolute;
    right: 0;
    top: 200px;
  }
  h1 {
    font-size: 6.9rem;
    font-weight: 600;
    margin-top: 10%;
    .resto {
      padding-top: 15px;
      color: $main-dark;
      background-color: white;
    }
  }
  @include mq-tablet {
    h1 {
      line-height: 1.5;
    }
  }
  @include mq-tab-portrait {
    nav {
      display: none;
      ul {
        @include no-more-flex;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        padding: 0 30px;
        z-index: 20;
        background-color: $black;
        li:nth-of-type(1) {
          margin-top: 75px;
        }
      }
    }
    img {
      width: 60%;
    }
    h1  {
      text-shadow: 1px 1px 2px $main-dark;
      span {
      box-shadow: 5px 5px $main-dark;
      }
    }
    label {
      display: block;
    }
    input[type="checkbox"]:checked + nav {
      display: block;
    }
  }
  @include mq-phone {
    h1 {
      font-size: 5.5rem;
    }
  }
}

.home-header {
  background-image: url("../assets/home-header.jpg");
  height: 90vh;
  li {
    &:nth-of-type(1) {
      &::after {
        content: "";
        display: block;
        height: 3px;
        width: 90%;
        background-color: $pop-color;
        position: absolute;
        bottom: 0;
        left: 5%;
        transition: width 0.3s;
      }  
    }
    &:hover,
    &:focus + li:nth-of-type(1) {
      width: 0%;
    }
  }
  h1 {
    width: 40%;
  }
  @include mq-tab-portrait {
    height: 60vh;
    h1 {
      width: 100%
    }
  }
}

.subpage-header {
  height: 80vh;
  @include mq-tab-portrait {
    height: 50vh;
  }
  @include mq-phone {
    height: 50vh;
  }
}

.contact-header {
  background-image: url("../assets/contact-header.jpg");
  li:nth-of-type(4) {
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 90%;
      background-color: $pop-color;
      position: absolute;
      bottom: 0;
      left: 5%;
    }
  }
}

.blog-header {
  background-image: url("../assets/blog-header.jpg");
  li:nth-of-type(3) {
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 90%;
      background-color: $pop-color;
      position: absolute;
      bottom: 0;
      left: 5%;
    }
  }
  @include mq-tablet {
    background-position: center;
  }
}