header {
  padding: 1%;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
  position: relative;
  .wrapper {
    flex-direction: column;
  }
  nav {
    ul {
      display: flex;
      li:not(:nth-of-type(1)) {
        margin: 0 30px;
      }
      li:nth-of-type(1) {
        margin-right: 30px;
      }
      a {
        color: white;
      }
    }
  }
  img {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -30%;
  }
  h1 {
    width: 40%;
    font-size: 6.9rem;
    font-weight: 600;
    margin-top: 50px;
    .resto {
      color: $main-dark;
      background-color: white;
    }
  }
}

.home-header {
  background-image: url("../assets/home-header.jpg");
  li:nth-of-type(1){
    border-bottom: 3px solid $pop-color;
  }
}

.contact-header {
  background-image: url("../assets/contact-header.jpg");
  li:nth-of-type(4) {
    border-bottom: 3px solid $pop-color;
  }
}