section:nth-of-type(even) {
  background-color: $main-dark;
}

section:nth-of-type(odd) {
  background-color: $main-light;
}

.about {
  padding: 200px 0 100px 0;
  @include mq-tab-portrait {
    padding: 100px 0;
  }
  .wrapper {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .container {
    width: 45%;
    margin-left: 5%;
    position: relative;
    i {
      position: absolute;
      display: block;
      height: 30px;
      width: 30px;
      text-align: center;
      top: 18%;
      left: -50px;
      color: $main-dark;
      z-index: 10;
      &::after {
        content: "";
        display: block;
        z-index: -1;
        background-color: $pop-color;
        border-radius:50%;
        position: absolute;
        top:-45%;
        left: -25%;
        bottom: -5%;
        right: -25%;
      }
    }
    h2 {
      font-size: 4.5rem;
      line-height: 99.8px;
    }
  }
}

.blog {
  padding: 0;
  position: relative;
  .wrapper {
    flex-direction: column;
    justify-content: flex-end;
  }
  h3 {
    font-size: 4.5rem;

  }
  article {
    width: 45%;
    margin: 5% 0;
    &:first-of-type {
      align-self: flex-end;
    }
    @include mq-tablet {
      margin-bottom: 0;
    }
    &:nth-of-type(2) {
      @include mq-tablet {
        margin-bottom: 5%;
      }
    }
  }
  img {
    width: 45%;
    position: absolute;
    box-shadow: 20px 20px $pop-color;
    &:first-of-type {
      top: -10%;
      left: 0;
      @include mq-tablet {
        top: -5%;
      }
    }
    &:last-of-type {
      order: 2;
      bottom: -10%;
      right: 0;
      transform: rotateY(180deg);
      @include mq-tablet {
        bottom: 0;
      }
    }
  }
  button {
    background-color: $pop-color;
    color: $main-dark;
  }
}

.extras {
  padding: 125px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $pop-color;
  }
  >p {
    width: 80%;
  }
  .banner {
    margin: 100px;
  }
  .wrapper {
    img {
      align-self: flex-start;
      width: 25%;
      margin-right: 5%;
      box-shadow: -10px 10px $pop-color;
    }
    .article-aside {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
    }
  }
}

.gallery {
  padding: 100px 0;
  width: 100%;
  .wrapper {
    justify-content: space-between;  
    img {
      width: calc(100%/3 - 3%);
    }
  }
}

.contact-main {  
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    border: none;
    display: flex;
    justify-content: space-between;
    input {
      background-color: inherit;
      width: 47%;
      padding: 10px;
      color: white;
      border: none;
      border-bottom: 2px solid $pop-color;
    }
  }
  textarea {
    width: 100%;
    padding: 10px;
    background-color: inherit;
    border: 2px solid $pop-color;
    color: white;
    resize: none;
  }
  button {
    margin-top: 5%;
    display: block;
    width: 100%;
    background-color: $pop-color;
  }
}
.contact-form {
  background-color: $main-dark;
  box-shadow: 20px 20px $pop-color;
  padding: 3%;
  width: 60%;
  height: 500px;
  position: absolute;
  top: -150px;
  right: 50px;
  textarea {
    height: 80%;
  }
}

.comments form {
  margin-bottom: 50px;
  input,
  textarea {
    background-color: $main-light;
  }
  textarea {
    height: 200px;
  }
}

.blog-container {
  background-color: $main-light;
  width: 100%;
  display: flex;
  justify-content: space-between;
  aside {
    width: 30%;
    order: -1;
    ul {
      flex-direction: column;
      padding-left: 20px;
      width: 100%;
      li {
        list-style-type: disc;
      }
    }
  }
  main {
    width: 60%;
    position: relative;
    article {
      border-left: 5px solid $pop-color;
      border-bottom: 5px solid $pop-color;
      padding-top: 500px;
      h2 {
        color: $pop-color;
      }
    }
    article img {
      width: calc(100% - 20px);
      position: absolute;
      top: -100px;
      right: 0;
      box-shadow: -20px 20px $pop-color;
    }
  }
  .wrapper {
    flex-direction: column;
  }
  .comments {
    padding-top: 50px;
    h2 {
      margin-bottom: 50px;
    }
    .comment-container {
      display: flex;
      margin-bottom: 50px;
      .comment-img {
        width: calc(15% - 20px);
        margin-right: 20px;
      }
      .comment {
        width: 85%;
      }
    }
    h4 {
      color: $pop-color;
    }
  }
}

aside {
  .wrapper {
    flex-direction: column;
    justify-content: space-between;
  }
  ul {
    display: flex;
    justify-content: space-between;
    width: 15%;

  }
}

.contact-aside {
  background-color: $main-light;
  padding: 100px 0;
  .address p {
    margin: 0;
  }
  li a {
    color: $pop-color;
  }
}

.blog-aside {
  margin-top: 100px;
  position: relative;
  img {
    position: absolute;
    top: -20px;
    right: 20px;
  }
  li a {
    color: white;
  }
}

.aside-container {
  background-color: $main-dark;
  padding-top: 400px;
  margin-left: 10%;
  padding: 400px 20px 20px 20px;
  h3 {
    color: $pop-color;
  }
}