// main-colors
$main-light: #2b331b;
$main-dark: #171b0e;
$pop-color: #ffd300;
$black: #0f0f0f;

// fontssssss
$font: 'josefin sans', sans-serif;

//mixin it up
@mixin flex-center {
  align-items: center;
  justify-content: center;
}

@mixin no-more-flex {
  flex-direction: column;
  align-items: center;
}

@mixin border-states($color) {
  border-top: 2px solid $color;
  border-left: 2px solid $color;
  border-right: 2px solid $color;
}

@mixin mq-tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mq-tab-portrait {
  @media (max-width: 860px) {
    @content;
  }
}

@mixin mq-phone {
  @media (max-width: 630px) {
    @content;
  }
}